
<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th> Ailment ID</th>
        <th>Name</th>
        <th>Remedies</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>@Model.AilmentID</td>
        <td>@Model.Name</td>
        <td>@Model.Remedies</td>
        <td>@Model.Price</td>
    </tr>
</table>

<br />
<div style="display: block">
    <a href="/Ailment/UpdateAilment/@Model.AilmentID">Update this Ailment</a>
</div>

<br />

<div style="display: block">

    @using (Html.BeginForm("DeleteAilment", "Ailment", "Post"))
    {
        <input type="hidden" asp-for="@Model" value="@Model.AilmentID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this ailment" />
    }
</div>

